:root {
  //FONTS
  --fontPrimary: 'DM Sans', sans-serif;
  --fontSecondary: 'Titan One', cursive;

  //Colors
  --colorPrimary: #ffffff;
  --colorSecondary: #d41443;
  --colorLabel: #ffa5ba;
  --colorText: #000000;
  --colorSubText: #907e82;

  //Background Colors
  --bgColorPrimary: #ffffff;
  --bgColorSecondary: #fff5f6;
  --bgColorHero: #ffb8ca;
  --bgColorProductsSecondary: #f0d1a5;
  --bgColorProductsTertiary: #c2e297;

  //Buttons colors
  --btnBgColor: #ffffff;
  --btnBgColorSecondary: #d41443;
  --btnBgColorHover: #ecebeb;
  --btnBgColorHoverSecondary: #ae0f37;

  //Icons Colors
  --iconColor: #fea5bb;
  --iconColorSecondary: #d41443;
  --iconColorTertiary: #ffffff;
}
