
<section class="hero">
    <div class="hero__container container">

        <div class="circle"></div>

        <ul class="info__list">
            <li class="info__item">
                <span class="info__shape"></span>
                <p class="info__number">16</p>
                <p class="info__title">cafes</p>
            </li>

            <li class="info__item">
                <span class="info__shape"></span>
                <p class="info__number">23</p>
                <p class="info__title">food trucks</p>
            </li>
        </ul>
        <picture>
            <source srcset="
                images/01-header/icecream-desk-min.png 1x,
                images/01-header/icecream-desk-2x-min.png 2x"
                media="(min-width: 1200px)">

            <source srcset="
                ./images/01-header/icecream-tab-min.png 1x,
                ./images/01-header/icecream-tab-2x-min.png 2x"
                media="(min-width: 768px)">

            <source srcset="
                ./images/01-header/icecream-mob-min.png 1x,
                ./images/01-header/icecream-mob-2x-min.png 2x"
                media="(min-width: 320px)">

            <img class="hero__image--icecream animate__animated animate__bounce"
                src="./images/01-header/icecream-desk-min.png"
                alt="icecream"
                loading = "lazy">

        </picture>
        <picture>
            
            <source srcset="
                ./images/01-header/girl-desk-min.png 1x,
                ./images/01-header/girl-desk-2x-min.png 2x"
                media="(min-width: 1200px)">
            <source srcset="
                ./images/01-header/girl-tab-min.png 1x,
                ./images/01-header/girl-tab-2x-min.png 2x"
                media="(min-width: 768px)">

            <img class="hero__image--girl" src="./images/01-header/girl-desk-min.png"
            alt="girl wiwth icecream"
            loading = "lazy">

        </picture>

        <h1 class="hero__title animate__bounce">ice cream made with <span class="hero__title--additional">passion</span></h1>
        
        <ul class="hero__list">
            <li class="hero__item">
                <a class="hero__link" href="">Products</a>
            </li>

            <li class="hero_item">
                <a class="hero__link hero--link--secondary" href="">How its made?</a>
            </li>
        </ul>

        <div class="hero__info">
            <picture>
                <source
                srcset="
                    ./images/01-header/milk-desk-min.png 1x,
                    ./images/01-header/milk-desk-2x-min.png 2x"
                    media="(min-width: 1200px)"/>

                <source srcset="
                    ./images/01-header/milk-tab-min.png 1x,
                    ./images/01-header/milk-tab-2x-min.png 2x"
                    media="(min-width: 768px)"/>
                <img
                class="hero-img--milk"
                src="./images/01-header/milk-desk-min.png"
                alt="Eco Milk"
                loading = "lazy"
                />
            </picture>

            <div class="hero__info-wrap">
                
                <p class="hero__infotext"
                data-config='{ "btnClass": "hero__button--showmore", "type": "text", "limit": 102, "more": " "}'
                >
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, dolores?
            </p>
            </div>
        </div>      
    </div>
</section>
