<section class="products" id="products">
  <div
    class="container container--products-mobile container--products-tablet container--product-desktop"
  >
    <p class="products__label">100% natural</p>
    <h2 class="products__title">products</h2>
    <ul class="products__list">
      <li class="products__item">
        <h3 class="products__subtitle">ice cream</h3>
        <p
          class="products__subtext"
          data-config='{ "btnClass": "products__button", "type": "text", "limit": 110, "more": " "}'
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
          eaque maiores dicta animi reiciendis esse iure magnam pariatur non
          incidunt, repellendus quae dolorum autem voluptate quisquam iste, vel
          deleniti ipsam!
        </p>
        <!-- <button class="products__button" type="button">
          <img
            srcset="
              ./images/03-products/arrow-right.png    1x,
              ./images/03-products/arrow-right@2x.png 2x
            "
            src="./images/03-products/arrow-right.png"
            alt="Подробнее"
            loading="lazy"
          />
        </button> -->
      </li>
      <li class="products__item">
        <h3 class="products__subtitle">ice coffee</h3>
        <p
          class="products__subtext"
          data-config='{ "btnClass": "products__button", "type": "text", "limit": 110, "more": " "}'
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
          eaque maiores dicta animi reiciendis esse iure magnam pariatur non
          incidunt, repellendus quae dolorum autem voluptate quisquam iste, vel
          deleniti ipsam!
        </p>
        <!-- <button class="products__button" type="button">
          <img
            srcset="
              ./images/03-products/arrow-right.png    1x,
              ./images/03-products/arrow-right@2x.png 2x
            "
            src="./images/03-products/arrow-right.png"
            alt="Подробнее"
            loading="lazy"
          />
        </button> -->
      </li>
      <li class="products__item">
        <h3 class="products__subtitle">milkshakes</h3>
        <p
          class="products__subtext"
          data-config='{ "btnClass": "products__button", "type": "text", "limit": 110, "more": " "}'
        >
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur
          eaque maiores dicta animi reiciendis esse iure magnam pariatur non
          incidunt, repellendus quae dolorum autem voluptate quisquam iste, vel
          deleniti ipsam!
        </p>
        <!-- <button class="products__button" type="button">
          <img
            srcset="
              ./images/03-products/arrow-right.png    1x,
              ./images/03-products/arrow-right@2x.png 2x
            "
            src="./images/03-products/arrow-right.png"
            alt="Подробнее"
            loading="lazy"
          />
        </button> -->
      </li>
    </ul>
  </div>
</section>
