<section class="gallery-container">
  <h2>Gallery</h2>
  <div class="gallery gallery-content">
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-1-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-1-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-1-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-1-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-1-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-1-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-1-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-1-mob-1x.png"
          alt="gallery-img1"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-2-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-2-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-2-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-2-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-2-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-2-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-2-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-2-mob-1x.png"
          alt="gallery-img2"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-3-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-3-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-3-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-3-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-3-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-3-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-3-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-3-mob-1x.png"
          alt="gallery-img3"
          loading="lazy"
        /> </picture></a
    ><a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-4-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-4-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-4-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-4-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-4-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-4-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-4-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-4-mob-1x.png"
          alt="gallery-img4"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-5-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-5-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-5-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-5-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-5-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-5-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-5-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-5-mob-1x.png"
          alt="gallery-img5"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-6-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-6-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-6-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-6-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-6-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-6-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-6-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-6-mob-1x.png"
          alt="gallery-img6"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-7-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-7-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-7-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-7-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-7-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-7-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-7-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-7-mob-1x.png"
          alt="gallery-img7"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-8-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-8-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-8-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-8-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-8-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-8-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-8-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-8-mob-1x.png"
          alt="gallery-img8"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-9-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-9-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-9-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-9-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-9-tab-2x-min.png 2x
          "
          media="(min-width: 768px) "
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-9-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-9-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-9-mob-1x.png"
          alt="gallery-img9"
          loading="lazy"
        /> </picture
    ></a>
    <a
      class="gallery-content__img"
      href="./images/06-gallery/gallery-pic-10-desc-2x-min.png"
      ><picture>
        <source
          srcset="
            ./images/06-gallery/gallery-pic-10-desc-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-10-desc-2x-min.png 2x
          "
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-10-tab-1x-min.png 1x,
            ./images/06-gallery/gallery-pic-10-tab-2x-min.png 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./images/06-gallery/gallery-pic-10-mob-1x.png 1x,
            ./images/06-gallery/gallery-pic-10-mob-2x.png 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="./images/06-gallery/gallery-pic-10-mob-1x.png"
          alt="gallery-img10"
          loading="lazy"
        /> </picture
    ></a>
  </div>
</section>
