<section class="review">
  <img
    src="./images/07-reviews/customer1-1x.png"
    width="85"
    height="85"
    alt="customer1"
  />
  <div>
    <p class="review__customer-text">
      Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam
      sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in
      nibh vel risus.
    </p>
  </div>
  <div class="review__customer-info">Emily, Los Angeles</div>
  <ul class="review__slider-icon-list">
    <li><span></span></li>
    <li><span></span></li>
    <li><span></span></li>
  </ul>
</section>
