<div class="container location">
    <div class="location__item">
        <h3 class="location__title">CAFE</h3>
        <b class="location__city">Chicago</b>
        <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="location__schedule">
            <li>
                <b class="location__working-mode">Monday - Friday</b>
                <p class="location__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li>
                <b class="location__working-mode">Saturday - Sunday</b>
                <p class="location__working-hours">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
        <ul class="location__contacts">
            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
            <li><a href="malito:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
    </div>
    <div class="location__item">
        <h3 class="location__title">FOODTRUCK</h3>
        <b class="location__city">Los Angeles</b>
        <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="location__schedule">
            <li><b class="location__working-mode">Monday - Friday</b>
                <p class="location__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li><b class="location__working-mode">Saturday - Sunday</b>
                <p class="location__working-hours">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
        <ul class="location__contacts">
            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
            <li><a href="malito:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
    </div>
    <div class="location__item">
        <h3 class="location__title">CAFE</h3>
        <b class="location__city">New York</b>
        <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        <ul class="location__schedule">
            <li>
                <b class="location__working-mode">Monday - Friday</b>
                <p class="location__working-hours">06:00 AM - 10:00 PM</p>
            </li>
            <li>
                <b class="location__working-mode">Saturday - Sunday</b>
                <p class="location__working-hours">08:00 AM - 16:00 PM</p>
            </li>
        </ul>
        <ul class="location__contacts">
            <li><a href="tel:+610383766284">+61(0) 383 766 284</a></li>
            <li><a href="malito:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
        <ul>
            <li>
    </div>
    <button>
        <span>Our Locations</span>
        <svg class="location__button">
            <use href=""></use>
        </svg>
    </button>
    </li>
    <li>
        <button>
            <span>Franchise</span>
            <svg class="location__button">
                <use href=""></use>
            </svg>
        </button>
    </li>
    </ul>
</div>