<section class="container location">
    <ul class="location__list">
        <li class="location__item">
            <h3 class="location__title">
                <span class="location__title-name">CAFE</span>
            </h3>
            <p class="location__city">Chicago</p>
            <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="location__schedule">
                <li>
                    <b class="location__working-mode">Monday - Friday</b>
                    <p class="location__working-hours">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                    <b class="location__working-mode">Saturday - Sunday</b>
                    <p class="location__working-hours">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <ul class="location__contacts">
                <li class="location__contacts-item"><a href="tel:+610383766284"
                        class="location__contacts-link">+61(0)383766 284</a>
                </li>
                <li class="location__contacts-item"><a href="malito:noreply@envato.com"
                        class="location__contacts-link">noreply@envato.com</a>
                </li>
            </ul>
        </li>
        <li class="location__item">
            <h3 class="location__title location__LosAgneles">
                <span class="location__title-name">FOODTRUCK</span>
            </h3>
            <p class="location__city">Los Angeles</p>
            <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="location__schedule">
                <li><b class="location__working-mode">Monday - Friday</b>
                    <p class="location__working-hours">06:00 AM - 10:00 PM</p>
                </li>
                <li><b class="location__working-mode">Saturday - Sunday</b>
                    <p class="location__working-hours">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <ul class="location__contacts">
                <li class="location__contacts-item"><a href="tel:+610383766284"
                        class="location__contacts-link">+61(0)383766 284</a>
                </li>
                <li class="location__contacts-item"><a href="malito:noreply@envato.com"
                        class="location__contacts-link">noreply@envato.com</a>
                </li>
            </ul>
        </li>
        <li class="location__item">
            <h3 class="location__title">
                <span class="location__title-name">CAFE</span>
            </h3>
            <p class="location__city">New York</p>
            <p class="location__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="location__schedule">
                <li>
                    <b class="location__working-mode">Monday - Friday</b>
                    <p class="location__working-hours">06:00 AM - 10:00 PM</p>
                </li>
                <li>
                    <b class="location__working-mode">Saturday - Sunday</b>
                    <p class="location__working-hours">08:00 AM - 16:00 PM</p>
                </li>
            </ul>
            <ul class="location__contacts">
                <li class="location__contacts-item"><a href="tel:+610383766284"
                        class="location__contacts-link">+61(0)383766 284</a>
                </li>
                <li class="location__contacts-item"><a href="malito:noreply@envato.com"
                        class="location__contacts-link">noreply@envato.com</a>
                </li>
            </ul>
        </li>
    </ul>
    <ul>
        <li>
            <button class="location__button">
                <span>Our Locations</span>
                <svg>
                    <use href="./images/01-header/icons.svg"></use>
                </svg>
            </button>
        </li>
        <li>
            <button class="location__button">
                <span>Franchise</span>
                <svg>
                    <use href="./images/01-header/icons.svg"></use>
                </svg>
            </button>
        </li>
    </ul>
</section>