// reset //

.btn {
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.header {
  position: absolute;
  background-color: var(--bgColorHero);
  width: 100%;
  top: 0;
}

.header__container {
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  @include mq(tab) {
    padding-top: 32px;
    padding-inline: 32px;
  }
  @include mq(desc) {
    padding-top: 37px;
    padding-inline: 16px;
  }
}

.header__menu-btn {
  display: none;
  min-width: 159px;
  min-height: 44px;
  @include mq(tab) {
    display: flex;
    transition: backround-color 250ms ease-in-out;
  }
  &-open {
    @include mq(tab) {
      margin-right: 30px;
    }
    @include mq(desc) {
    }
  }
}

.header__menu-open {
  @include mq(tab) {
    margin-right: 32px;
  }
  @include mq(desc) {
    display: none;
  }
}

.btn-wrap {
  display: flex;
}

.button {
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;

  border: none;
  border-radius: 22px;

  background-color: var(--colorPrimary);
  color: var(--colorSecondary);
  transition: background-color 250ms ease-in-out;

  &:hover,
  &:focus {
    background-color: var(--btnBgColorHover);
  }
}

.header__btn-icon {
  margin-left: 12px;
}

.header__nav {
  display: flex;
}

.header__list {
  display: none;

  @include mq(desc) {
    display: flex;
  }
}

.header__item:not(:last-child) {
  margin-right: 35px;
}

.header__link {
  font-family: var(--fontPrimary);

  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 1.31;
  padding: 10px 0;

  display: flex;
  align-items: center;

  color: #ffffff;
  transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  &:hover,
  &focus {
    color: var(--colorSecondary);
  }
}

.header__link--current,
.mob-menu__link--current {
  color: var(--colorSecondary);
}

// mob-menu //

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 4, 4, 0.4);
  z-index: 12;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @include mq(desc) {
    display: none;
  }
}

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;

  width: 250px;
  height: 100vh;
  padding: 60px 0;
  background-color: #e17992;

  transition-property: transform;
  @include transition;
  // transition: tran sform 250ms ease-in-out;

  @include mq(tab) {
    padding-top: 58px;
    width: 254px;
  }
  @include mq(desc) {
    display: none;
  }
}

.backdrop.is-hidden .mob-menu {
  transform: translateX(100%);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.mob-menu__button {
  width: 209px;
  height: 44px;
  margin: 0 auto;
  @include mq(tab) {
    margin-right: 32px;
  margin-left: 32px;
    width: 186px;
}
}

.mob-menu__list {
  margin-top: 32px;
}

.mob-menu__item {
  display: flex;
  height: 42px;
  padding-left: 20px;
  border-top: 1px solid #e18298;
  border-bottom: 1px solid #e18298;
  align-items: center;
}

.mob-menu__link {
  font-family: var(--fontPrimary);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.28;
  padding-top: 15px;
  padding-bottom: 15px;

  color: #ffffff;
  transition: all 250ms cubic-bezier(0.77, 0, 0.175, 1);
  &:hover,
  &focus {
    color: var(--colorSecondary);
  }
}

.mob-menu__link--current {
  color: var(--colorSecondary);
}

.mob-menu__close {
  position: absolute;
  top: 20px;
  right: 32px;
}

.close__icon {
  fill: var(--colorPrimary);
}
/* Modal */
.backdrop-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  transition-property: opacity, visibility;
  @include transition;

  overflow: scroll;
  z-index: 10000;

  @media screen and (max-height: 625px) {
    overflow-y: scroll;
  }

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    & .modal-header {
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0.9);
    }
  }
}
.modal-open {
  overflow: hidden;
}
.modal-header {
  position: absolute;
  width: calc(100% - 30px);
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;

  background-color: var(--bgColorSecondary);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition-property: opacity, visibility, transform;
  @include transition;

  @media screen and (min-width: 480px) {
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }
    background-image: url(../images/04-about/about-bg-desk-left.png),
                      url(../images/04-about/about-bg-desk-right.png);
  
    background-position: left bottom 20%,
    right bottom 20%;
    background-repeat: no-repeat;
    background-size: auto 250px;
  
    @include mq(retina) {
      background-image: url(../images/04-about/about-bg-desk-left@2x.png),
                        url(../images/04-about/about-bg-desk-right@2x.png);
    }
}
.modal-header__btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--bgColorPrimary);
  border: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  &:hover,
  &:focus {
    background-color: var(--btnBgColorHover);
  }
}

.modal-header__icon {
  fill: var(--colorSecondary);
  transition-property: fill;
  @include transition;
}
.modal-header__title {
  font-family: var(--fontSecondary);
  color: var(--colorSecondary);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 20px;
  @media screen and (min-width: $desktop) {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.06em;

    margin-bottom: 40px;
  }
}
// Fieldset
.fieldset {
  display: flex;
  flex-direction: column;

  margin: 0px;
  padding: 0px;

  border: none;
}

.fieldset__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--colorSubText);
  position: absolute;
  bottom: calc(100% + 4px);
  left: 0;

  transition: color;
  @include transition;
}

.fieldset__wrapper {
  position: relative;
  display: flex;

  margin-bottom: 28px;
  &--last {
    margin-bottom: 20px;
  }
}

.fieldset__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 25px;
  min-height: 40px;
  width: 100%;
  padding-left: 42px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    border: 1px solid var(--colorSecondary);
    outline: transparent;
  }
  &:focus-visible + .fieldset__icon {
    fill: var(--colorSecondary);
  }
  &:focus-visible ~ .fieldset__label {
    color: var(--colorSecondary);
  }
}

.fieldset__icon {
  position: absolute;
  top: 11px;
  left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset__comment {
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus-visible {
    border: 1px solid var(--colorSecondary);
    outline: transparent;
  }
  &:focus-visible ~ .fieldset__label {
    color: var(--colorSecondary);
  }

  @media screen and (min-width: $desktop) {
    font-size: 12px;
    line-height: 1.166;
  }
}

.fieldset__send {
  background: var(--btnBgColor);
  //   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  //   border-width: 0px;
  border-radius: 25px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  //   border-color: transparent;

  padding: 10px 55px 10px 56px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  letter-spacing: 0.06em;

  color: var(--colorSecondary);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--btnBgColorHover);
  }
}
/* Checkbox */
.checkbox {
  display: flex;

  // align-items: center;
  justify-content: center;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:focus + .checkbox__label .checkbox__icon {
    border: 2px solid var(--colorSecondary);
  }
  &:checked + .checkbox__label .checkbox__icon {
    border: none;
    fill: var(--colorSecondary);
  }
}

.checkbox__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  cursor: pointer;

  color: var(--colorSubText);
  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 1.71;
  }
}
.checkbox__icon {
  flex-shrink: 0;
  border: 2px solid #212121;
  border-radius: 4px;
  fill: transparent;

  margin-right: 8px;
}

.checkbox__terms {
  color: var(--colorSubText);
  text-decoration: underline;
  // text-decoration: none;
  // background-image: linear-gradient(currentColor, currentColor);
  // background-position: 0% 90%;
  // background-repeat: no-repeat;
  // background-size: 100% 1px;

  &:visited {
    color: var(--colorText);
  }
}



