.about {
  padding-top: 60px;
  padding-bottom: 40px;
}
.about__container {
  padding-inline: 20px;
  margin-inline: auto;
}
.about__label {
  font-family: var(--fontSecondary);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;

  text-align: center;
  text-transform: uppercase;

  color: var(--colorLabel);

  margin-bottom: 15px;
}
.about__title {
  font-family: var(--fontSecondary);
  font-weight: 400;
  font-size: 34px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--colorSecondary);

  margin-bottom: 32px;
}
