.advantages {
  padding-top: 106px;

  background-color: var(--bgColorSecondary);

  @media screen and (min-width: $tablet) {
    padding-top: 146px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 150px;
  }
}
.advantages__container {
  padding-inline: 20px;
  margin-inline: auto;

  @media screen and (min-width: $tablet) {
    padding-inline: 32px;
  }
  @media screen and (min-width: $desktop) {
    padding-inline: 16px;
  }
}
.advantages__title {
  @include visually-hidden;
}
.advantages__list {
  list-style: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
  }
}
.advantages__item {
  position: relative;
  &:not(:last-child) {
    margin-bottom: 98px;
    @media screen and (min-width: $tablet) {
      margin-bottom: 0px;
    }
  }
  &:first-child:before {
    content: '';
    background-image: url(../images/05-advantages/icon-01.svg);
    height: 50px;
    width: 33px;
    position: absolute;
    bottom: calc(100% + 16px);
    @media screen and (min-width: $tablet) {
      bottom: calc(100% + 36px);
    }
    @media screen and (min-width: $desktop) {
      bottom: calc(100% + 40px);
    }
  }
  &:nth-child(n + 2):before {
    content: '';
    background-image: url(../images/05-advantages/icon-02.svg);
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: calc(100% + 16px);
    @media screen and (min-width: $tablet) {
      bottom: calc(100% + 36px);
    }
    @media screen and (min-width: $desktop) {
      bottom: calc(100% + 40px);
    }
  }
  &:nth-child(n + 3):before {
    content: '';
    background-image: url(../images/05-advantages/icon-03.svg);
    height: 50px;
    width: 46px;
    position: absolute;
    bottom: calc(100% + 16px);
    @media screen and (min-width: $tablet) {
      bottom: calc(100% + 36px);
    }
    @media screen and (min-width: $desktop) {
      bottom: calc(100% + 40px);
    }
  }
}
.advantages__text {
  font-family: var(--fontSecondary);
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--colorSecondary);

  margin-bottom: 25px;

  @media screen and (min-width: $tablet) {
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;

    margin-bottom: 13px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 58px;
    line-height: 1.14;
    letter-spacing: 0.04em;
  }
}
.advantages__subtext {
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: var(--colorText);

  padding-right: 50px;

  @media screen and (min-width: $tablet) {
    font-size: 14px;
    line-height: 174%;

    padding-right: 40px;
  }
  @media screen and (min-width: $desktop) {
    font-size: 16px;
    line-height: 176%;
    letter-spacing: 0.02em;

    padding-right: 120px;
  }
}
