.location {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 21.5%,
    rgba(255, 245, 246, 1) 21.5%
  );
  @include mq(tab) {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 45.5%,
      rgba(255, 245, 246, 1) 45.5%
    );
  }
  @include mq(desc) {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 13%,
      rgba(255, 245, 246, 1) 13%
    );
  }
}

.location__title {
  @include visually-hidden;
}

.location__list {
  margin-bottom: 32px;
  list-style: none;
  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 60px;
  }
  @include mq(desc) {
    display: flex;
    flex-wrap: wrap;
  }
}

.location__item {
  padding: 40px 32px;
  //   width: 100%;
  flex-shrink: 0;
  background: var(--colorPrimary);
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  @include mq(tab) {
    width: 100%;
    max-width: 224px;
  }
  @include mq(desc) {
    width: 100%;
    max-width: 368px;
  }
}

.location__item:not(:last-child) {
  margin-bottom: 20px;
  @include mq(tab) {
    margin-bottom: 0;
  }
}

.location__point {
  display: inline;
  align-items: center;
  padding: 0px 24px;
  background: var(--bgColorProductsSecondary);
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--colorPrimary);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  @include mq(tab) {
    padding: 3.5px 17px;
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 1.86;
    text-align: center;
    letter-spacing: 0.04em;

    border-radius: 6px;
  }
}

.location__LosAgneles {
  background-color: #c2e297;
}

.location__city {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  letter-spacing: 0.04em;
  color: var(--colorText);
  margin-top: 20px;
  margin-bottom: 8px;
  @include mq(tab) {
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 12px;
  }
  @include mq(desc) {
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    margin-bottom: 8px;
  }
}

.location__text {
  max-width: 179px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--colorSubText);
  margin-bottom: 24px;
  @media screen and (min-width: 480px) and (max-width: 767px) {
    max-width: 416px;
  }
  @include mq(tab) {
    font-size: 14px;
    line-height: 1.66;
  }
  @include mq(desc) {
    max-width: 243px;
    font-size: 16px;
    line-height: 1.83;
  }
}

.location__schedule::before {
  content: '';
  margin-bottom: 24px;
  display: flex;
  width: 100%;
  //   width: 216px;
  border: 1px solid #e1e1e1;
  @include mq(tab) {
    width: 100%;
    margin-bottom: 32px;
  }
}

.location__schedule::after {
  content: '';
  display: flex;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 100%;
  //   width: 216px;
  border: 1px solid #e1e1e1;
  @include mq(tab) {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 32px;
  }
}

.location__working-mode {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--colorText);
  @include mq(tab) {
    font-size: 14px;
    line-height: 1.86;
  }
  @include mq(desc) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.location__working-hours {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.83;
  color: var(--colorLabel);
  margin-bottom: 8px;
  @include mq(tab) {
    font-size: 14px;
    line-height: 1.86;
    margin-bottom: 12px;
  }
  @include mq(desc) {
    font-size: 16px;
    line-height: 1.86;
  }
}

.location__contacts-link {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--colorSubText);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.77, 0, 0.175, 1);
  &:hover,
  &:focus {
    color: var(--colorSecondary);
  }
  @include mq(tab) {
    font-size: 14px;
    line-height: 183%;
  }
  @include mq(desc) {
    font-size: 16px;
    line-height: 1.83;
  }
}

.location__button {
  @include mq(tab) {
    display: flex;
    justify-content: center;
    gap: 14.5px;
  }
  @include mq(desc) {
    gap: 12px;
  }
}

.location__button-item {
  display: flex;
  justify-content: space-around;
}

.location__button-loc {
  background-color: var(--btnBgColorSecondary);
  color: var(--colorPrimary);
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  margin-bottom: 10px;

  transition-property: background-color;
  @include transition;
  @include mq(tab) {
    margin-bottom: 0;
    width: 191px;
  }
  @include mq(desc) {
    width: 198px;
  }
  &:hover,
  &:focus {
    background-color: var(--btnBgColorHoverSecondary);
  }
}

.location__button-fran {
  background-color: var(--btnBgColor);
  color: var(--colorSecondary);
  width: 161px;
  height: 44px;
  border-radius: 22px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  transition: background-color 250ms cubic-bezier(0.77, 0, 0.175, 1);
  &:hover,
  &:focus {
    background-color: var(--btnBgColorHover);
  }
  @include mq(tab) {
    width: 174px;
  }
  @include mq(desc) {
    width: 168px;
  }
}

.location__button-text {
  margin-right: 8px;
  @include mq(tab) {
    margin-right: 13px;
  }
}

.location__button-icon-loc {
  fill: var(--iconColorSecondary);
}

.location__button-icon-fran {
  fill: var(--iconColorTertiary);
}

.backdrop-location {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  transition-property: visibility, opacity;
  @include transition;
  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}

.modal-location {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  @include mq(tab) {
    width: 70%;
  }
}

.modal-location__iframe {
  width: 100%;
  height: 400px;

  @include mq(tab) {
    height: 500px;
  }

  @include mq(desc) {
    height: 600px;
  }
}

.modal-location__close-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--bgColorPrimary);
  border: 0px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 8px;
  right: 8px;

  &:hover,
  &:focus {
    background-color: var(--btnBgColorHover);
  }
}

.modal-location__close {
  fill: var(--colorSecondary);
  transition-property: fill;
  @include transition;
}
